In [1]:
import pandas as pd
import matplotlib.pyplot as plot
import numpy as np

# 分组和聚合

groupby和聚合函数实现数据的分组与聚合

In [2]:
col =pd.DataFrame({'color': ['white','red','green','red','green'], 'object': ['pen','pencil','pencil','ashtray','pen'],'price1':[5.56,4.20,1.30,0.56,2.75],'price2':[4.75,4.12,1.60,0.75,3.15]})
col

   color   object  price1  price2
0  white      pen    5.56    4.75
1    red   pencil    4.20    4.12
2  green   pencil    1.30    1.60
3    red  ashtray    0.56    0.75
4  green      pen    2.75    3.15

In [3]:
col.groupby(['color'],as_index=False)

In [10]:
col.groupby(['color'],as_index=True)['price2'].mean()

color
green    2.375
red      2.435
white    4.750
Name: price2, dtype: float64

In [4]:
col.groupby(['color'],as_index=False).mean()

   color  price1  price2
0  green   2.025   2.375
1    red   2.380   2.435
2  white   5.560   4.750

In [5]:
# 第一种方式分组聚合 对颜色进行分组  按照price1进行聚合
col.groupby(['color'],as_index=False)['price1'].mean()

   color  price1
0  green   2.025
1    red   2.380
2  white   5.560

In [12]:
type(col['price1'])

pandas.core.series.Series

In [6]:
# 第二种方式分组聚合
col['price1'].groupby(col['color']).mean()

color
green    2.025
red      2.380
white    5.560
Name: price1, dtype: float64

In [7]:
col.groupby(['color']).count()

       object  price1  price2
color
green       2       2       2
red         2       2       2
white       1       1       1